{% extends 'base.html' %}
{% block title %}Editar Barbearia{% endblock %}
{% block content %}

<div class="card p-4 shadow-sm">
    <h1 class="h5 mb-3">Editar Barbearia</h1>

    <form method="post" action="{{ url_for('barbearia_editar', id=barbearia[0]) }}">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" name="nome" value="{{ barbearia[1] }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input class="form-control" type="text" name="telefone" value="{{ barbearia[2] }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Endereço</label>
            <input class="form-control" type="text" name="endereco" value="{{ barbearia[3] }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Formas de Pagamento</label>
            <input class="form-control" type="text" name="forma_pagamento" value="{{ barbearia[4] }}">
        </div>

        <button class="btn btn-success" type="submit">Salvar Alterações</button>
        <a href="{{ url_for('barbearia_listar') }}" class="btn btn-secondary">Voltar</a>
    </form>
</div>

{% endblock %}
