{% extends 'base.html' %}
{% block title %}{{ titulo }}

{% endblock %}
{% block content %}


<div class="card p-4 shadow-sm">
    <h1 class="h5 mb-3">{{ titulo }}</h1>

    <form action="/barbearias/novo" method="post">
        <div class="mb-3">
            <label for="form-label"> Nome</label>
            <input class="form-control" type="text" name="nome">
        </div>
        <div class="mb-3">
            <label for="form-label"> Telefone</label>
            <input class="form-control" type="text" name="telefone">
        </div>
        <div class="mb-3">
            <label for="form-label"> Endereço</label>
            <input class="form-control" type="text" name="endereco">
        </div>
        <div class="mb-3">
            <label for="form-label"> Formas de Pagamento</label>
            <input class="form-control" type="text" name="forma_pagamento">
        </div>
        <button class="btn btn-success" type="submit"> Salvar</button>
        <a href="{{ url_for('barbearias.novo') }}" class="btn btn-secondary">Voltar</a>
    </form>

</div>
{% endblock %}