{% extends 'base.html' %}
{% block title %}Categorias{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
  <h1 class="h4">Clientes Cadastrados</h1>
  <a href="{{ url_for('salvar_cliente') }}" class="btn btn-success">Novo Cliente</a>
</div>


    {% if clientes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Nome</th>
                    <th> Sexo</th>
                    <th> Telefone</th>
                    <th> Observacao </th>
                    <th> Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in clientes %}
                    <tr>
                        <td> {{item[0]}}  </td>
                        <td> {{item[1]}} </td>
                        <td> {{item[2]}} </td>
                        <td> {{item[3]}} </td>
                        <td> {{item[4]}} </td>
                        <td>
                            <a href="{{ url_for('cliente_editar', id=item[0]) }}" class="btn btn-sm btn-secondary">Editar</a>		
		                    <button class="btn btn-sm btn-danger" onclick="return confirm('Excluir?')">Excluir</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p> Nenhuma cliente encontrado</p>
    {% endif %}
    
{% endblock %}
