{% extends 'base.html' %}
{% block title %}{{ titulo }}

{% endblock %}
{% block content %}

<div class="card p-4 shadow-sm">
    <h1 class="h5 mb-3">{{ titulo }}</h1>

    <form action="/clientes/novo" method="post">
        <div class="mb-3">
            <label for="form-label"> Nome</label>
            <input class="form-control" type="text" name="nome">
        </div>
        <div class="mb-3">
            <label for="form-label"> Sexo</label>
            <input class="form-control" type="text" name="sexo">
        </div>
        <div class="mb-3">
            <label for="form-label"> Telefone</label>
            <input class="form-control" type="text" name="telefone">
        </div>
        <div class="mb-3">
            <label for="form-label"> Senha</label>
            <input class="form-control" type="password" name="senha">
        </div>
        <div class="mb-3">
            <label for="form-label"> Observação</label>
            <input class="form-control" type="text" name="observacao">
        </div>
        <button class="btn btn-success" type="submit"> Salvar</button>
        <a href="{{ url_for('cliente_listar') }}" class="btn btn-secondary">Voltar</a>
    </form>

</div>
{% endblock %}